.emprestimo-form {
    
    .container-btn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .recomendacao-label {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
}