<div class="emprestimo-form">
  <div class="row inputs-cadastro">
    <div class="col-md-4 input-style">
      <label>Usuário</label>
      <select [(ngModel)]="emprestimoDTO.usuarioId" (change)="buscarRecomendacoes()">
        <option *ngFor="let usuario of listaUsuarios" [value]="usuario.id">
          {{ usuario.nome }}
        </option>
      </select>
    </div>
    <div class="col-md-4 input-style">
      <label>Título do livro</label>
      <select [(ngModel)]="emprestimoDTO.livroId">
        <option *ngFor="let livro of listaLivros" [value]="livro.id">
          {{ livro.titulo }}
        </option>
      </select>
    </div>
    <div class="col-md-2 input-style">
      <label>Data de Empréstimo</label>
      <input type="date" required [(ngModel)]="emprestimoDTO.dataEmprestimo">
    </div>
    <div class="col-md-2 input-style">
      <label>Data de Devolução</label>
      <input type="date" required [(ngModel)]="emprestimoDTO.dataDevolucao">
    </div>
  </div>
  <div class="row container-btn">
    <button class="estilo-btn" (click)="criarEmprestimo()">EMPRESTAR LIVRO</button>
    <button class="estilo-btn" (click)="retornarParaLista()">CANCELAR</button>
  </div>
  <div class="table-recomendacoes" *ngIf="listaRecomendacoes.length > 0">
    <h3 class="recomendacao-label">Redomendações de livros</h3>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Categoria</th>
                <th>Data de publicação</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let livro of listaRecomendacoes">
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.categoria }}</td>
                <td>{{ livro.dataPublicacao }}</td>
            </tr>
        </tbody>
    </table>
  </div>

</div>