.menu {
    height: 45px;
    display: flex;
    align-items: center;
    background-color: rgb(48, 48, 48);

    .logo {
        font-family: monospace;
        font-weight: bold;
        color: white;
        font-size: large;
        &:hover {
            cursor: pointer;
        }
    }

    .link-modulo {
        display: flex;
        justify-content: space-between;
        
        span {
            font-family: monospace;
            font-weight: bold;
            color: rgb(187, 187, 187);
            font-weight: bold;
            font-size: small;
            font-family: monospace;
            &:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
}