<header>
  <div class="row menu">
    <div class="col-md-4">
      <span class="logo" (click)="redirecionar('/home')">GESTÃO DE BIBLIOTECA</span>
    </div>
    <div class="col-md-6 link-modulo">
        <div>
          <span (click)="redirecionar('/usuario-list')">USUÁRIOS</span>
        </div>
        <div>
          <span (click)="redirecionar('/livro-list')">LIVROS</span>
        </div>
        <div>
          <span (click)="redirecionar('/emprestimo-list')">EMPRÉSTIMOS</span>
        </div>
    </div>
  </div>
</header>
  