.layout-padrao {
    width: 100vw;
    height: 100vh;
    background-color: rgb(160, 160, 160);

    .titulo-pagina {
        margin-top: 8px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        font-weight: bolder;
        font-size: medium;
    }
    
    .conteudo-pagina {
        margin: 20px;
    }
}