<div class="livro-list">
    <div class="row container-btn">
        <button class="estilo-btn" (click)="novoLivro()">CADASTRAR LIVRO</button>
        <button class="estilo-btn" (click)="irParaBuscaGoogle()">GOOGLE BOOKS</button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th>Data de publicação</th>
                    <th>Ação</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let livro of listTodosLivros">
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.autor }}</td>
                    <td>{{ livro.categoria }}</td>
                    <td>{{ livro.dataPublicacao }}</td>
                    <td> 
                        <button class="botao-acao" (click)="deletar(livro)">
                            Deletar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>